/*Shared style*/
.text-light-gray {
    color: #727272;
}




/************HEADER**********/

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    font-weight: 700px;
    color: #131313;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/*******************BANNER**************/

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700px;
}



.btn-primary {
    background-color: #FF900E;
    color: #fff;
    font-size: 20px;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}

.banner img {
    width: 100%;
    margin-top: 30px;
}



/********** Main Section *************/

main {
    max-width: 1440px;
    margin: 70px auto;
}

/******team style******/

.team-container {
    display: flex;
    align-items: center;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.team-title {
    font-size: 2.8rem;
}

.team-title .quiklist {
    color: #727272;
    font-size: 2.6rem;
    font-weight: 500;
}

.team-title .text-features {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}



/**********Some facts********/

.facts {
    margin-top: 160px;
}

.fact-title {
    color: var(--dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 35px;
    margin-top: 100px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 5px;
}

/******Sponsor sector*******/

.sponsor-container{
    margin-top: 150px;
}

.sponsor-title {
    color: #131313;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

.sponsor-des {
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}



.sponsors{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

}

.sponsors img{
    width:150px;
    height: 50px;
}




/******** RESPONSIVE STYLE **********/

/*** mobile device ******/
@media screen and (max-width:576px) {
    header {
        padding: 22px;
    }

    nav,
    .team-container,
    .facts-card-container,
    .sponsors
    {
        flex-direction: column;
    }

    .team-img {
        grid-template-columns: 1fr;
    }


    .team-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .fact-title-p {
        padding-left: 20px;
    }

  
}



/******* Medium device ********/

@media screen and (min-width:576px) and (max-width:960px) {

    header {
        padding: 55px;
    }

    nav,
    .team-container,
    .facts-card-container {
        flex-direction: column;
    }

    .team-content {
        align-items: center;
    }

    .facts-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        padding-left: 85px;
    }

    .facts-card-container .card {
        margin: 7px;
    }

    .fact-title-p {
        padding-left: 74px;
    }

    .sponsors img{
        width:90px;
        height: 30px;
    }
    
    .sponsor-container{
        margin-top: 100px;
    }

}